* {
  font-family: "Noto Sans JP", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #2f3136;
}

.fadeIn {
  transition: all 0.5s ease 0s;
  transform: translateY(0);
  opacity: 1;
}

.fadeOut {
  transition: all 0.5s ease 0s;
  transform: translateY(-30px);
  opacity: 0;
}
